:root {
    --primary-color: #4CAF50; /* Vert */
    --secondary-color: #FFD700;
    --background-color: #ffffff; /* Fond blanc par défaut */
    --text-color: #333333;
    --message-human-bg: #e0ffe0;
    --message-ai-bg: #f0f0ff;
    --button-bg-color: #4CAF50;
    --button-hover-bg: #45a049;
    --loader-color: #FFD700;
    --max-body-width: 700px;
}

/* Mode sombre */
.dark-mode {
    --background-color: #000000; /* Fond noir pour le mode sombre */
    --text-color: #f0f0f0; /* Texte blanc pour une meilleure lisibilité */
    --message-human-bg: #333333; /* Fond des messages humains en gris foncé */
    --message-ai-bg: #222222; /* Fond des messages AI en gris encore plus foncé */
    --button-bg-color: #4CAF50; /* Garder les boutons verts */
    --button-hover-bg: #3E8E41; /* Garder un survol vert plus sombre */
}

/* Appliquer les couleurs du mode en cours */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Styles pour le bouton de mode sombre */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}

#dark-mode-button {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#dark-mode-button.dark-mode {
    background-color: var(--button-bg-color);
    color: black; /* Texte noir pour correspondre au mode clair dans le mode sombre */
}

#dark-mode-button:hover {
    background-color: var(--button-hover-bg);
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

/* Conteneur principal en mode clair */
.main-container {
    max-width: var(--max-body-width);
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Mode sombre */
.dark-mode body {
    background-color: #1e1e1e; /* Fond global gris foncé */
    color: #e0e0e0; /* Texte plus clair pour le mode sombre */
}

.dark-mode .main-container {
    background-color: #2c2c2c; /* Conteneur gris foncé similaire au fond */
    box-shadow: none; /* Supprimer ou réduire l'ombre en mode sombre */
}
.header {
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 2.5em;
    color: var(--primary-color);
    font-weight: bold;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    max-height: 70vh; /* Limite la hauteur du conteneur à 70% de la hauteur de la fenêtre */
    overflow-y: auto; /* Active le défilement vertical si nécessaire */
}


.message {
    padding: 15px;
    border-radius: var(--border-radius);
    font-size: 1.1em;
    border: none;
    transition: transform 0.3s;
}

.message-human {
    background-color: var(--message-human-bg);
    text-align: right;
}

.message-ai {
    background-color: var(--message-ai-bg);
}

.message:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.prompt-label {
    font-weight: bold;
    color: var(--primary-color);
}

/* Mode clair (par défaut) */
.prompt-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--max-body-width);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-top: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.prompt-input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-size: 1em;
    background-color: white; /* Fond du champ de saisie */
    color: var(--text-color); /* Couleur du texte */
}

/* Mode sombre */
.dark-mode .prompt-container {
    background-color: #2c2c2c; /* Fond gris foncé autour du champ de saisie */
    border-top: 2px solid var(--primary-color);
    box-shadow: none; /* Supprimer l'ombre en mode sombre */
}

.dark-mode .prompt-input {
    background-color: #3c3c3c; /* Fond du champ de saisie en gris foncé */
    color: #e0e0e0; /* Texte clair */
    border: 2px solid var(--primary-color); /* Garder la bordure verte */
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-bg-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--button-hover-bg);
}

.hidden {
    display: none;
}

/* Loader */
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: var(--loader-bullet-size);
}

.loader div {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--loader-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
    left: 8px;
    animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
    left: 32px;
    animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
    left: 56px;
    animation: loader3 0.6s infinite;
}

@keyframes loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* Nouveau style pour le téléchargement de PDF */
.upload-container {
    position: fixed;
    top: 41%;
    left: 5%;
    /* transform: translateY(-50%); */
    width: 150px;
    height: 150px;
    border: 2px dashed var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.upload-container:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.upload-label {
    font-size: 2.5em;
    color: var(--primary-color);
    text-align: center;
    transition: color 0.3s;
}

.upload-container:hover .upload-label {
    color: white;
}

.upload-input {
    display: none;
}

/* Effet de survol pour rendre le "+" plus dynamique */
.upload-container:hover .upload-label {
    animation: pulse 1s infinite;
}

.file-title {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.upload-text {
    position: fixed;
    top: 35%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
    width: 150px;
    transition: color 0.3s;
}

/* Ajuster le style lors du survol pour attirer l'attention */
.upload-container:hover ~ .upload-text {
    color: var(--secondary-color);
}
