<!DOCTYPE html>
<html lang="fr">

<head>
    <title>AIssistant de Mémoire</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='prompt.js') }}" defer></script>
</head>

<body>
    <!-- Téléchargement du fichier PDF -->
    <div class="upload-container-wrapper">
        <div class="upload-text">Ton PDF de cours ici !</div>
        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" class="upload-container" id="upload-form">
            <label for="file" class="upload-label">+</label>
            <input type="file" id="file" name="file" class="upload-input" accept="application/pdf" required />
        </form>
        <div id="file-title" class="file-title"></div> <!-- Element pour afficher le titre du fichier -->
    </div>

    <main class="main-container">
        <header class="header">
            <h1 class="header-title">AIssistant de Mémoire</h1>
        </header>

        <section id="messages-container" class="messages-container">
            <div class="message message-ai">
                Salut! Je suis ton AIssistant. Pose-moi une question sur ton cours et je te répondrai.
            </div>
            <div id="loader-container" class="hidden">
                <div class="loader">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </section>

        <form id="prompt-form" class="prompt-container">
            <label for="prompt" class="prompt-label">Message</label>
            <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" placeholder="Écris ici..." />
            <button type="submit" class="button" id="submit-button">Envoyer</button>
            <button type="button" class="button" id="question-button">Pose-moi une question !</button>
        </form>

    </main>
</body>

</html>